@use "sass:map";

.road__paragraph {
  margin: 0;
  font-size: map.get($font-size-d, "paragraph");
  font-weight: map-get($font-weight, "paragraph");
  color: map-get($font-color, "paragraph");
  line-height: map-get($line-height, "paragraph");
  font-family: $font-family;
  max-width: 460px;
  margin-bottom: 80px;
  opacity: 0.7;
  @media screen and (max-width: $maxWidthMobile) {
    grid-row-start: 3;
    margin-bottom: 0px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 18px;
  }
}
