.header-menu__button-close {
  z-index: 9999;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 32px;
  width: 100%;
  min-height: 32px;
  box-sizing: border-box;
  background-size: 32px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 32px;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  @media screen and (max-width: $menuMobileMaxWidth) {
    padding-right: 0;
    visibility: visible;
    opacity: 1;
  }
}