.eddy-merckx__author {
  @include reset-paragraph;
  font-size: 20px;
  font-weight: 500;
  color: map-get($font-color, "title");
  font-family: $font-family;
  line-height: 32px;
  padding-bottom: 10px;
  @media screen and (max-width: $maxWidthMobile) {
    font-size: 10px;
    line-height: 16px;
  }
}
