.cards__item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
  font-family: $font-family;
  text-decoration: none;
  margin-top: 22px;
  padding-left: 7px;
}
