.cards-mobile__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
  font-family: $font-family;
  text-decoration: none;
  padding-bottom: 59px;
}
