.footer__btn-send-email {
  cursor: pointer;
  border: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  font-family: $font-family;
  position: absolute;
  right: 22px;
  top: 11px;
  background: none;
  color: #151515;
  display: none;
}
