.footer__input {
  height: 50px;
  max-width: 360px;
  grid-row-start: 2;
  margin-bottom: 100px;
  max-width: 360px;
  width: 100%;
  @media screen and (max-width: 420px) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
