.input {
  border: 1px solid rgba(199, 199, 199, 0.5);
  outline: none;
  outline-offset: 0;
  background: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #151515;
  font-family: $font-family;
  border-radius: 4px;
  padding-left: 20px;
  &::placeholder {
    opacity: 0.7;
  }
  &:hover::placeholder {
    opacity: 1;
  }
  &:hover {
    cursor: pointer;
  }
}
